{% extends "base.html" %}
{% block title %}Python Quiz | home{% endblock title %}
{% block page_title %} Latest Post {% endblock page_title %}


{% block content %}


{% for post in object_list %}

<div class="blog-post">
    <h2 class="blog-post-title"><a style="text-decoration:none" href="{{post.get_absolute_url}}">{{ post.title }}</a>  </h2>
    <p class="blog-post-meta"> {{post.date}} by <blockquote> {{post.author}} </blockquote> </p>
    <p> {{post.body|linebreaks}} </p>
    
  </div><!-- /.blog-post -->

  

  
    
{% endfor %}
    
    
{% endblock content %}
    
