{% extends "base.html" %}
<!--title blog -->
{%block title%}Delete Post{%endblock%}

<!-- Blog Content-->
{%block content%}
{% if user.is_authenticated %}
    <div class="container">
        <h2>Delete Post</h2>
        <form method="post">{% csrf_token %}
            <p> Are you sure you want to delete "{{object.title}}"</p>
            <button class="btn btn-danger ml-2" type="submit">Confirm</button>
        </form>
    </div>
{% else %}
<p>You don't have authorization to this page</p>
{% endif %}
    

{%endblock content%}