{% extends "base.html" %}
{% load crispy_forms_tags %}

<!--title blog -->
{%block title%}{{post.title}}{%endblock%}
{% block page_title %} {{post.title}} {% endblock page_title %}

<!-- Blog Content-->
{%block content%}
   
<div class="blog-post">
    
    <p class="blog-post-meta"> {{post.date}} by  {{post.author}} </p>
    <p> {{post.body|linebreaks}} </p>
    
  </div><!-- /.blog-post -->

        

        {% if user.is_authenticated %}

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="{% url 'post_delete' post.pk %}">Delete</a>
                <a class="btn btn-outline-secondary" href="{% url 'post_update' post.pk %}" >Edit</a>
            </nav>

            
        {% endif %}
        
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent comments</h6>
            {% for comment in comments %}
            <div class="media text-muted pt-3">
                
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    
                    <strong class="d-block text-gray-dark">{{ comment.name }} - {{ comment.created|timesince }} ago </strong>
                    {{ comment.body }} 
                </p>
            </div>
          {% endfor %}
                
            </div>
        
<!-- Comment Form -->
            
            {% if new_comment %}

            <p>Thank you for your comment</p>
            {% else %}

            <div class="container">
                <br>
                <h6 class="border-bottom border-gray pb-2 mb-0">Leave a comment</h6>
                <br>
                <form action="." method="post">{% csrf_token %}
                    {{comment_form|crispy}}
                    <input class="btn btn-primary" type="submit" value="Comment">

                </form>
            </div>
                
            {% endif %}
                
         

{%endblock content%}

{% block pagination %}

{% endblock pagination %}

